* {padding: 0; margin: 0;}

.tempat {width: 1000px; margin: auto;}

header {height: 125px; background: #00d8d6; overflow: hidden;}
header .kiri img {width: 100px; height: 100px; margin: 10px 0px 0px 25px; float: left;}
header .kanan {font-size: 18px; float: left; margin-top: 20px; margin-left: 135px;}
header .kanan p { margin-left: -1px;}

menu {margin-bottom: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
nav {background-size: auto; background: tomato;}
nav ul li {float: left; list-style: none;background: tomato;border-right: 1px solid red;} 
nav ul li a {margin-right: 15px; text-decoration: none; padding: 3px 15px;color: darkslateblue;}

nav ul li ul {display: none;}
nav ul li:hover > ul {display: block;}
nav {position: relative; height: 40px; line-height: 40px;}
nav ul li ul {position: absolute;}


nav ul li ul li {float: none; position: relative;}
nav ul li a:hover {color: aliceblue;}
nav ul li:hover {background:darkviolet;}
nav ul ul ul {left: 100%; position: absolute; top: 0;}


article {overflow: hidden;}
article h1 {margin-bottom: 10px; font-family: sans-serif;}
article p {margin-bottom: 10px;}
article .kiri p {font-size: 13px; text-align: justify;}
article .kiri {width: 350px;  float: left;}
article .kiri .hub {background: #575fcf; padding: 10px 10px 15px 20px; margin-bottom: 10px; position: fixed; left: 0px;}
article .kiri .hub img {width: 45px; padding: 0px 20px 0px 0px;}
article .kiri .hub img:hover {width: 50px;}
article .kiri .kirii {margin-top: 25px;}
article .kanan {width: 600px;  float:right}
article .kanan .atas img { width: 600px; height: 300px;}
article .kanan .atas p {margin-top: 15px; text-align: justify;}
article .kanan .bawah {overflow: hidden; margin-top: 30px;}
article .kanan .bawah .kiribawah {width: 290px; float:left;border-left: 4px solid #f53b57;}
article .kanan .bawah .kananbawah {width: 290px; float: right; border-left: 4px solid #f53b57;}
article .kanan .bawah .kananbawah img {width: 45px; margin-left: 10px;}
article .kanan .bawah h1,p{margin-left: 10px;}

footer {background-color: #84817a; color: #2d3436; text-align: center; margin-top: 15px; 
line-height: 35px; height: 35px; position: sticky; bottom: 0px;}
footer a {color: #5e7277}

article .kanan .atas img {-webkit-mask-image: radial-gradient(circle at 50% 50%, black 25%, rgba(0, 0, 0, 0.4)33%)}

.tambahan {overflow: hidden; margin-top: 40px;}

.tambahan .tambahankiri {width: 300px; float: left; margin-left: 30px;}
.tambahan .tambahankiri img {float: left; width: 150px; height: 150px;}
.tambahan .tambahankiri h1 {font-size: 20px;float: right; margin-right: 25px;}
.tambahan .tambahankiri p {text-align: justify; margin-left: 10px;}

.tambahan .tambahantengah {width: 300px; float: left; margin-left: 30px;}
.tambahan .tambahantengah img {float: left; width: 150px; height: 150px;}
.tambahan .tambahantengah h1 {font-size: 20px; float: right; margin-right: 25px;}
.tambahan .tambahantengah p {text-align: justify; margin-left: 10px;}

.tambahan .tambahankanan {width: 300px; float: left; margin-left: 30px;}
.tambahan .tambahankanan img {float: left; width: 150px; height: 150px;}
.tambahan .tambahankanan h1 {font-size: 20px; float: right; margin-right: 25px;} 
.tambahan .tambahankanan p {text-align: justify; margin-left: 10px;}

form {background: cadetblue;padding: 25px; width: 600px;margin-left: 350px; 
    border: 2px solid black; border-radius: 7px; margin-top: 20px; }

.itemform {background: chocolate; padding: 15px; border: 1px solid darkred; overflow: hidden;}
.itemform .f1 {float: left; margin-right: 30px;}
.itemform .f1 label {display: block; line-height: 30px;}
.itemform .f2 input {line-height: 26px;margin: 2px ; width: 300px;}
.itemform .f2 input.inputText {padding-left: 10px;}
.itemform .f2 input.inputText:hover {background-color: lightseagreen; border-radius: 5px;font-size: 15px;
border: 1px solid gray;}

.tool {position: relative; margin-top: 20px;}
.tool .tip {display: inline;}
.tool .tip span {display: none;}
.tip:hover span {display: inline-block; background-color: black;color: white; padding: 10px;
font-size: 12px;}
.tool button:hover {transition: background 2s ease-in-out;}

input[type=password] {padding: 8px; margin-left: 10px; background: lightskyblue; color: white;
}
input[type=submit] ,button [type=button] {padding: 8px;}
input[type=submit]:hover ,button[type=button]:hover {background:black ; color: white;}
h3 {text-align: center; margin-right: 200px;}

table, th, td {border: 1px solid red;}
            table {font-family: "Arial";}
            
            caption {background-color: darkred; color: white; font-size: 25px;padding: 10px;
            }
            th, td {padding: 5px 25px;}

            thead {background-color: darkseagreen; color: white;}
            tbody {background-color: teal;}
             td {color: whitesmoke;}
            tfoot {background-color: yellowgreen; color: black;}
            tbody tr td:nth-child(2) {text-align: center;}
            tbody tr td:nth-child(3),
            tbody tr td:nth-child(4) {text-align: right;}
            tr:nth-child(even) {background-color: darkslategray;}

        
.kotak {overflow: hidden; margin-top: 20px; border: 2px solid pink; margin-left: 10px;}
.kirik {float: left; padding-left: 10px;}
.kirik img {width: 200px;}